<div class="container home-content">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="table">
        <h1>List Coins</h1>

        <p-table [columns]="coinColumns" [value]="listCoins">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
    
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <span *ngIf="col.field === 'priceUsd'">
                  ${{ getFloatNumber(rowData[col.field]) }}
                </span>

                <span *ngIf="col.field !== 'priceUsd'">
                  {{ rowData[col.field] }}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="col-md-6 col-12">
      <div class="table">
        <h1>List Exchanges</h1>

        <p-table [columns]="exchangeColumns" [value]="listExchanges">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
    
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <span *ngIf="col.field === 'volumeUsd'">
                  ${{ getFloatNumber(rowData[col.field]) }}
                </span>

                <span *ngIf="col.field !== 'volumeUsd'">
                  {{ rowData[col.field] }}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>